* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f11cca;
    color: white;
    padding: 2rem;
}

/* Header */
header {
    color:#004080;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

/* Form Section */
#date-form-section {
    background-color: #e6f0ff;
    color: #333;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    margin-bottom: 2rem;
}

/* Date input and button styling */
#apod-date {
    max-width: 200px;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;

}

#date-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#date-form button:hover {
    background-color: #0056b3;
   
}

/* APOD Display Section */
#apod-display-section {
    background-color: white;
    color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#img-container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
}

.card-body {
    text-align: center;
}

.card-title {
    color: #007bff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#add-favorite-btn {
    background-color: #f11cca;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#add-favorite-btn:hover {
    background-color: #cc139a; /* Darker pink for hover effect */
}