* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    color:#004080;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Form Section */
#date-form-section {
    background-color: #e6f0ff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

/* Date input and button styling */
#apod-date {
    max-width: 150px;
}

#date-form button {
    background-color: #007bff;
    color: white;
}

#date-form button:hover {
    background-color: #0056b3;
}

/* APOD Display Section */
#apod-display-section {
    transition: opacity 0.3s ease;
}

#apod-display-section.d-none {
    opacity: 0;
    visibility: hidden;
}

#apod-image {
    cursor: pointer;
    border-radius: 8px;
}


/* Card styling */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

/* 